.message
{
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.input-form
{
    margin: 20px;
}

.button-container
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
